<article class="post">
  <div class="title">
    <h2 class="name">{{title}}</h2>
    <span class="date">{{format_date created_at}}</span>
    <p>{{format_url post_text}}</p>
  </div>
  <div class="meta"> |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>